<div class="index">
	<div class="dark-layer">
		<div class="container">
			<div class="row">
				<header>
					<h1>Remind</h1>
					<nav class="buttons">login</nav>
					<nav class="buttons">login</nav>
				</header>
			</div>
		</div>
	</div>
</div>
