<div class="index">
	<header>
		<%= render 'shared/header' %>
	</header>
	<div class="container">
		<div class="row">
			<div class="desc">
				<h1>Stay in control <br> of your time</h1>
				<%= link_to "Try Remind", signup_url, class: "button button-primary" %>
			</div>
		</div>
	</div>
</div>
