.container-ui {
	width: 100%;
}

/* index page */
.index {
	background-image: url("now.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	color: #fff;
	.desc {
		
		text-align: center;
		padding-top: 15%;
		h1 {
			font-size: 60px;
		}
	}
}

header {
	/*background-color: rgba(0,0,0,0.6);*/
	padding: 10px 10px;
	.logo {
		display: inline-block;
		font-size: 40px;
		text-decoration: none !important;
		font-weight: 600;
		color: white;
	}
	nav {
		display: inline-block;
		/*padding-left: 40%;*/
		float: right;
		font-weight: 400;
		padding: 17px 10px;
		li {
			font-size: 18px;
			list-style: none;
			display: inline-block;
			margin: 0px 5px;
			a {
				color: white;
				padding: 10px 15px;
				border: 1px solid #fff;
				border-radius: 25px;
				text-decoration: none !important;
			}
			a:hover {
				color: #DAA520;
				border: 1px solid #DAA520;
			}
		}
	}
}

.head-auth {
	/*background-color: rgba(0,0,0,0.6);*/
	padding: 10px 10px;
	.logo {
		display: inline-block;
		font-size: 40px;
		text-decoration: none !important;
		font-weight: 600;
		color: #DAA520;
	}
	nav {
		display: inline-block;
		/*padding-left: 40%;*/
		float: right;
		font-weight: 400;
		padding: 17px 10px;
		li {
			font-size: 18px;
			list-style: none;
			display: inline-block;
			margin: 0px 5px;
			a {
				color: #D7AF4A;
				padding: 10px 15px;
				border: 1px solid #fff;
				border-radius: 25px;
				text-decoration: none !important;
			}
			a:hover {
				color: #DAA520;
				border: 1px solid #DAA520;
			}
		}
	}
}

.buttons {
	color: #fff;
	border-bottom: 2px solid white;
	padding: 5px 5px;
	display: inline-block;
	font-size: 25px;
}

/* Login & signin */

.auth {
    margin: 0% 20%;
    padding: 5% 0%;
    .form {
		margin: auto;
	    width: 60%;
	    padding: 10px;
	    input[type=text], input[type=email], input[type=submit], input[type=password] {
			width: 100%;
		font-weight: 300;
		}
		span input[type=checkbox] {
			left: 0px;
		}
	}
}

/*emergency responders
find locations where disasters are
finds people in need
*/